<div id="grid"  class="parallax-container" style="height: 100vh">
  <div class="parallax"><img onload="getHeaderVibrant(this)" style="filter: blur(1px)" src="<%= asset_path ('4321.jpg') %>"></div>
  <div class="content3">

<p>Команда инструкторов по прыжкам на батуте поможет с нуля научиться управлять своим телом в воздухе,
   делать базовые акробатические элементы, а индивидуальный подход поможет быстро придти к желаемым результатам. <br />
   А если вы или ваш ребенок уже имеете акробатические навыки,
    то профессиональные секции по прыжкам на батуте дадут необходимый опыт и при регулярном посещении приведут к достойным результатам.<br />

</p>
  </div>
</div>
<div id="grid1"  class="parallax-container" style="height: 140vh">
   <div class="parallax"><img onload="getHeaderVibrant(this)" style="filter: blur(1px)" src="<%= asset_path ('54321.jpg') %>"></div>
     <div class="content4">
       <h6>БАТУТНО-АКРОБАТИЧЕСКАЯ ЗОНА Экстрим центра состоит из следующих секций:<br />

       - ОЛИМПИЙСКИЕ БАТУТЫ<br />

       - РАЗМИНОЧНЫЕ БАТУТЫ<br />

       - ФРИСТАЙЛОВЫЙ БАТУТ<br />

       - АКРОБАТИЧЕСКАЯ ДОРОЖКА<br />

       - ПОРОЛОНОВАЯ ЯМА<br />

       - просторная разминочная зона<br />

       - баланс-борды<br />

       - зона кроссфита<br />
</h6>


  </div>
</div>
<style>

  P{
    color: grey;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 238px;
    font-size: 2vmax;
  }
  h6{
    color: grey;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 230px;
    font-size: 2vmax;
  }
  h5{
    color: #00a8e6;
    display: grid;

  justify-content: center;
    margin-top: -200px;
    font-size: 2vmax;
  }
</style>
