<div class="price">

  <div class="price2" style="background:black;opacity:0.6">
    <h1>Прайслист</h1>

    <h2>Батуты</h2>
      <p>
Разовая тренировка на батутах - 400 с.<br />

Для детей и студентов – 300 с.<br />

Разовая тренировка на скалодроме – 300с.<br />

При наличии своего снаряжения – 200 с.<br />

Абонемент на 4 занятия – 1390с.<br />

Абонемент на 8 занятий – 2190 с.<br />

Абонемент на 12 занятий – 2890 с.<br />

Абонемент на 20 занятий – 4290 с.( срок действия 3 месяца )<br />


</p>
<h2>Cкалодром</h2>
<p>


Абонемент на 4 занятия – 690с.<br />

Абонемент на 8 занятий – 1490 с.<br />

Абонемент на 12 занятий – 1990 с.<br />

Абонемент на 20 занятий – 2590 с.( срок действия 3 месяца )<br />

Спортивная школа скалолазания - 2000 с.<br />

Разовая тренировка в спортивной школе скалолазания - 320 с.<br />

Индивидуальная тренировка 1000 с.<br />

Компания больше 5 человек получает общую скидку 20% на разовое посещение.<br />

При покупке 3 абонементов скидка 15%.<br />

Цены деёствуют до 18:00 в будние дни =><br />
=> после 18:00 и в выходные стоимость всех разовых посещений поднимается на 100 с.<br />
    </p>

  </div>

</div>
<style>


.price{
  display: grid;
  height:300vh;
  background: linear-gradient(to bottom  ,black,#00a8e6);
  grid-template-columns: 1fr;
  grid-template-rows:100% ;
  padding-top: 150px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 150px;
}
.price2{
  display: grid
}
@@media screen and (min-width:400px) {
  .price2{
    min-width: 300px;
  }

}
h2{
  color: #00a8e6;
  display: grid;
justify-content: center;
  position: relative;
  margin: 0px;

}
h1{
  position: relative;
  color:#00a8e6 ;
  display: grid;
  justify-content: center;
  font-size: 8em;
  margin-top: 100px;

}


p{
  color: grey;
  font-size: 2em;
  margin-left: 100px;
  margin-right: 100px;



}
</style>
