<div  id="grid" class="parallax-container" style="height: 100vh">
  <div class="parallax"><img onload="getHeaderVibrant(this)" style="filter: blur(1px)" src="<%= asset_path ('23.png') %>"></div>
  <div class="content3">
<h6>Архитектура и размеры СКАЛОДРОМА ONTHEWAKE не имеют аналогов в Азии.<br />

Скалолазание очень полезно для всех групп мышц, но в особенности для позвоночника<br />

Команда инструкторов Экстрим центра поможет с нуля научиться ходить по стенам и составит вам хорошую компанию.<br />

А если вы или ваш ребенок уже имеете опыт лазания, то инструкторы проведут вас по индивидуальному сценарию трасс и точно не заставят скучать.<br />

</h6>
  </div>
</div>



<div id="grid1" class="parallax-container" style="height: 100vh">
  <div class="parallax"><img onload="getHeaderVibrant(this)" style="filter: blur(1px)" src="<%= asset_path ('24.png') %>"></div>
  <div class="content4">
    <h5>
Зона СКАЛОДРОМ Экстрим центра состоит из следующих секций:<br />

- ДЕТСКАЯ СКОРОСТЬ<br />


- ДЕТСКАЯ ТРУДНОСТЬ<br />


- БОЛДЕРИНГ<br />


- ВЗРОСЛАЯ СКОРОСТЬ<br />


- ВЗРОСЛАЯ ТРУДНОСТЬ (ПОТОЛОК)<br />


- просторная разминочная зона<br />


- баланс-борды<br />


- зона кроссфита<br />


- триклайн<br />

</h5>

  </div>
</div>





<style>
p{
  color: grey;
  font-size: 1.7em;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 150px;


}
h5{
  color: grey;
  margin-top: -2px;
  font-size: 2vmax;
  margin-left: 150px;
  margin-right: 150px;
}
h6{
  color: grey;
  font-size: 2vmax;
  margin-left: 150px;
  margin-top: 243px;
  margin-right: 150px;
}
</style>
