<div class="block">


          <div class="content3">
            <p>Знакомство с трикинг-командой Бишкека было неожиданным, но о чень приятным. <br />
              Эти отчасти сумасшедние,
               но безумно талантливые ребята сразу понравились нам и мы, недолго думая, пригласили их к сотрудничеству и организовали группу.<br />
               Теперь в нашей команде лучшие трикеры Кыргызстана,
               которые поможет освоить базовые элементы, а при регулярном посещении научат восхитительным трюкам как мужчин, так и прекрасных девушек.<br />
В Экстрим центре имеется всё необходимое для тренировок по трикингу:<br />

- большое количество тренировочных матов<br />

- просторная разминочная зона<br />

- акробатическая дорожка<br />

- огромная поролоновая яма<br />

- секция олимпийских батутов<br />

- секция с фристайловым батутом 5*5 метров<br />

- баланс-борды<br />

- зона кроссфита<br />

- триклайн<br />
</p>

          </div>
</div>


<style>
.block{

  height: 220vh;
  display: grid;
  background: darkgrey;

}
.content3{
  margin: 150px;
}
p{
  color: grey;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  font-size: 2vmax;
}
h5{
  color: #00a8e6;
  display: grid;
  justify-content: center;
  margin-top: -50px;
}
h6{
color: #00a8e6;
margin-top: -80px;
display: grid;
  justify-content: center;
font-size: 2vmax;
}

}
</style>
