<footer id="footer" class="footer">
<div id="nav" class="navbar">


  <div class="info">
<%= link_to image_tag("123456.svg"),"https://www.facebook.com/onthewake.activecamp"%>
 </div>
    <div class="info1">
    <%= link_to image_tag("1234567.svg", :alt => "home image", :width =>64,:height =>64 ),"https://www.instagram.com/onthewake/"%>

    </div>
      






</div>

</footer>
